{% extends "base-layout.html.twig" %}

{% block content %}
    

<select id="monselect">
  <option value="valeur1">Valeur 1</option>
  <option value="valeur2" selected>Valeur 2</option>
  <option value="valeur3">Valeur 3</option>
</select>


    
{% endblock %}